<div *ngIf="!autenticando" class="login-container">

    <div class="project-name">
        <h1>Dress Me</h1>
    </div>

    <div class="login-box">
        <h2>Iniciar Sesión</h2>
        <form (ngSubmit)="login()" [formGroup]="loginUsuario">
            <div class="mb-3">
              <label class="form-label">Email</label>
              <input type="email" formControlName="email" class="form-control" >            
            </div>

            <div class="mb-3">
              <label  class="form-label">Password</label>
              <input type="password"  formControlName="password" class="form-control" >
            </div>

            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" >
              <label class="form-check-label" for="exampleCheck1">¿Has olvidado tu contraseña?</label>
            </div>

            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
          </form>
    </div>
</div>
<app-spinner *ngIf="autenticando"></app-spinner>