<!-- mi tarjeta del producto -->
<div class="row row-cols-1 row-cols-md-1 g-0">

    <div class="card m-3 text-center" style="width: 14rem;">
        <img src="../../../../assets/vestido1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Vestido Aurora Blue</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Gala</h6>
          <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#detalle">
            ver detalle
          </button>
        </div>
    </div>
    <div class="card m-3 text-center" style="width: 14rem;">
        <img src="../../../../assets/vestido1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Vestido Aurora Blue</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Gala</h6>
          <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#detalle">
            ver detalle
          </button>
        </div>
    </div>
    
    <div class="card m-3 text-center" style="width: 14rem;">
        <img src="../../../../assets/vestido1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Vestido Aurora Blue</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Gala</h6>
          <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#detalle">
            ver detalle
          </button>
        </div>
    </div>
    
    <div class="card m-3 text-center" style="width: 14rem;">
        <img src="../../../../assets/vestido1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Vestido Aurora Blue</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Gala</h6>
          <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#detalle">
            ver detalle
          </button>
        </div>
    </div>
    
    <div class="card m-3 text-center" style="width: 14rem;">
        <img src="../../../../assets/vestido1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Vestido Aurora Blue</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Gala</h6>
          <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#detalle">
            ver detalle
          </button>
        </div>
    </div>
    
    <div class="card m-3 text-center" style="width: 14rem;">
        <img src="../../../../assets/vestido1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Vestido Aurora Blue</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Gala</h6>
          <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#detalle">
            ver detalle
          </button>
        </div>
    </div>
    
    <div class="card m-3 text-center" style="width: 14rem;">
        <img src="../../../../assets/vestido1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Vestido Aurora Blue</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Gala</h6>
          <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#detalle">
            ver detalle
          </button>
        </div>
    </div>
    
    <div class="card m-3 text-center" style="width: 14rem;">
        <img src="../../../../assets/vestido1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Vestido Aurora Blue</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Gala</h6>
          <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#detalle">
            ver detalle
          </button>
        </div>
    </div>
    
    <div class="card m-3 text-center" style="width: 14rem;">
        <img src="../../../../assets/vestido1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Vestido Aurora Blue</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Gala</h6>
          <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#detalle">
            ver detalle
          </button>
        </div>
    </div>
    
    <div class="card m-3 text-center" style="width: 14rem;">
        <img src="../../../../assets/vestido1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Vestido Aurora Blue</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Gala</h6>
          <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#detalle">
            ver detalle
          </button>
        </div>
    </div>
    
    <div class="card m-3 text-center" style="width: 14rem;">
        <img src="../../../../assets/vestido1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Vestido Aurora Blue</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Gala</h6>
          <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#detalle">
            ver detalle
          </button>
        </div>
    </div>
    
    <div class="card m-3 text-center" style="width: 14rem;">
        <img src="../../../../assets/vestido1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Vestido Aurora Blue</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Gala</h6>
          <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#detalle">
            ver detalle
          </button>
        </div>
    </div>
    
    
</div>

<!-- mi Modal detalle del producto -->
<div class="modal fade" id="detalle">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Vestido Aurora Blue</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" >

                <div class="row">
                 
                    <div class="row col-md-3 form-check-label mb-3 mt-3 ">
                        <figure class="figure col-md-12">
                            <img src="../../../../assets/vestido1.jpg" class="img-thumbnail" alt="...">
                        </figure>
                        <figure class="figure col-md-12">
                            <img src="../../../../assets/vestido2.jpg" class="img-thumbnail" alt="...">
                        </figure>
                        <figure class="figure col-md-12">
                            <img src="../../../../assets/vestido3.jpg" class="img-thumbnail" alt="...">
                        </figure>
                    </div>

                    <div class="row col-md-9">
                        <figure class="figure col-md-12">
                            <img src="../../../../assets/vestido1.jpg" class="img-thumbnail" alt="...">
                        </figure>
                    </div>
                </div>

            </div>

            <!-- Modal footer -->

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal" routerLink="/agendar-turno">Agendar turno</button>
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Volver</button>


            </div>

        </div>
    </div>
</div>
